Repository JeremLa/Tournament-Factory: changes, and which Codecov flags are due for each by the changed paths.
All: controllers, formType, repository, service

TEST : DB for tests
  .travis.yml
  phpunit.xml.dist
Due: none

Update .travis.yml
  .travis.yml
Due: none

TEST : Test URL Redirect
  src/Controller/UserController.php
  tests/Controller/AdminControllerTest.php
  tests/Controller/TournamentControllerTest.php
  tests/Controller/UserControllerTest.php
Due: controllers

Test: Add authentication test
  phpunit.xml.dist
  src/Controller/HomeController.php
  src/Entity/User.php
  templates/home/login.html.twig
  tests/Controller/HomeControllerTest.php
  translations/messages.fr.yaml
Due: controllers

Test: wrong assertion
  tests/Controller/HomeControllerTest.php
Due: none

TEST : test userprovider
  tests/Security/User/UserProviderTest.php
Due: none

Test: Controller
  config/packages/security.yaml
  config/packages/twig.yaml
  tests/Controller/AdminControllerTest.php
  tests/Controller/HomeControllerTest.php
  tests/Controller/TournamentControllerTest.php
  tests/Controller/UserControllerTest.php
Due: none

Update codecov.yml
  codecov.yml
Due: none

Test: Controller
  tests/Controller/AdminControllerTest.php
  tests/Controller/TournamentControllerTest.php
  tests/Controller/UserControllerTest.php
Due: none

TEST : Update travis
  .travis.yml
Due: none

TEST : update .travis
  .travis.yml
Due: none

TEST : upadte travis
  .travis.yml
Due: none

TEST : upadte codecov
  codecov.yml
Due: none

[#9] NEW : Create TournamentEntity
  src/Entity/TFTournament.php
  src/Migrations/Version20180621120052.php
  src/Repository/TFTournamentRepository.php
  src/Services/Enum/TournamentTypeEnum.php
Due: repository, service

[#8] UPDATE : Add AbstractTFParticipant
  src/Entity/Abstraction/AbstractTFParticipant.php
  src/Entity/TFUser.php
Due: none

[#8][#9] ADD : Tournament-Participent Relationship
  src/Entity/Abstraction/AbstractTFParticipant.php
  src/Entity/TFTournament.php
  src/Entity/TFUser.php
  src/Migrations/Version20180621120052.php
  src/Migrations/Version20180621140937.php
  src/Repository/TFTournamentRepository.php
  src/Services/Enum/TournamentTypeEnum.php
Due: repository, service

ADD : Tournament Owner
  src/Entity/TFTeam.php
  src/Entity/TFTournament.php
  src/Entity/TFUser.php
  src/Migrations/Version20180621152658.php
Due: none

[#9] NEW : Buid Tournament
  src/Controller/TournamentController.php
  src/Entity/Abstraction/AbstractTFParticipant.php
  src/Entity/TFTeam.php
  src/Entity/TFTournament.php
  src/Entity/TFUser.php
  src/Form/Type/TFTournamentType.php
  templates/base.html.twig
  templates/includes/menu.html.twig
  templates/tournament/chosen-type.html.twig
  templates/tournament/new-tournament.html.twig
  templates/tournament/new.html.twig
  translations/messages.fr.yaml
  translations/validators.fr.yaml
Due: controllers, formType

[#9] ADD : tournament list
  composer.json
  composer.lock
  src/Controller/TournamentController.php
  src/Entity/TFTournament.php
  src/Twig/TournamentEnumExtension.php
  templates/tournament/index.html.twig
  translations/messages.fr.yaml
Due: controllers

[#9] UPDATE : Delete tournament
  src/Controller/TournamentController.php
  src/Form/Type/TFTournamentType.php
  templates/base.html.twig
  templates/includes/modal.html.twig
  templates/tournament/chosen-type.html.twig
  templates/tournament/index.html.twig
  templates/tournament/new-tournament.html.twig
  translations/messages.fr.yaml
Due: controllers, formType

[#53] ADD : Participant
  src/Controller/TournamentController.php
  src/Entity/Abstraction/AbstractTFParticipant.php
  src/Entity/TFTeam.php
  src/Entity/TFTournament.php
  src/Entity/TFUser.php
  src/Form/Type/AddParticipantToTournamentType.php
  templates/tournament/add-participant.html.twig
  templates/tournament/index.html.twig
  templates/tournament/new-tournament.html.twig
  tests/Controller/TournamentControllerTest.php
  translations/messages.fr.yaml
Due: controllers, formType

Fix : return EnumType
  src/Services/Enum/TournamentTypeEnum.php
Due: service

FIX : Quality code ehanced for codacity
  src/Controller/TournamentController.php
Due: controllers

{#53] ADD : Tournament Service
  src/Controller/TournamentController.php
  src/Entity/TFUser.php
  src/Repository/TFUserRepository.php
  src/Services/TournamentService.php
  tests/Controller/TournamentControllerTest.php
Due: controllers, repository, service

Codacy fix
  public/css/global.css
Due: none

Update deploy.sh
  deploy.sh
Due: none

[#63] FIX : Quick fix on codacy request
  src/Services/TournamentService.php
Due: service

[#62] FIX : Limit participant
  src/Controller/TournamentController.php
  src/Services/TournamentService.php
  templates/tournament/add-participant.html.twig
  translations/messages.fr.yaml
Due: controllers, service

TEST : add code coverage for FormType
  src/Form/Type/AddParticipantToTournamentType.php
  tests/Controller/TournamentControllerTest.php
  tests/Form/Type/AddParticipantToTournamentTypeTest.php
  tests/Form/Type/SignUpTypeTest.php
  tests/Form/Type/TFTournamentTypeTest.php
  tests/Form/Type/TFUserTypeTest.php
Due: formType

Path conditions:
  controllers: any of: src/Controller, but not: /src/entity, /src/migration
  formType: any of: src/Form/Type, but not: /src/entity, /src/migration
  repository: any of: src/Repository/, but not: /src/entity, /src/migration
  service: any of: src/Services, src/Security/User, but not: /src/entity, /src/migration
